<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <div class="p-profile"><img src="assets/img/dummy.png"></div>
      </div>
      <div class="col-sm-7 p-rgt-sec">
        <div>
          <div class="p-tag">Information and Communication Technology</div><br/>
          <h1 class="mt-4">Taneesha Kalyanapriya</h1>
          <p class="p-des mt-3 mb-4">Welcome to my coding portfolio! I'm a skilled developer with expertise in front-end and back-end web development.
            I specialize in creating responsive, user-friendly websites and web apps using modern technologies like HTML5, CSS3,
            JavaScript, Angular, Node.js, Springboot and databases like MongoDB and SQL. Check out my projects to see my coding skills in action.
            Contact me for inquiries. Thank you for visiting!
          </p><br/>
          <a href="#" class="p-readmore">Read More &nbsp;<img src="assets/img/arrow.png" width="16" class="ml-2"></a>
        </div><br/>


          <h6 style="color:#acacac;">Click here to download CV</h6>
          <form class="form-inline">
            <button class="btn btn-warning">Download</button>
          </form>


      </div>
    </div>
  </div>
</section>
